#Header{
    margin-left: auto;
    margin-right: auto;
    border: double 10px #5F4B8B;
    text-align: center;
    background-color: black;
    border-radius: 25px;
}

h1 {
    font-family: "Open Sans Condensed";
    color: white;
}

img {
    border-radius: 25px;
    margin: 50px;
    float: left;
}

#Right{
    margin-left: 50px;
    margin-right: 50px;
    border: double 10px #5F4B8B;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    height:200px;
    width: 300px;
    float: right;
}